.menu {
    display:flex; 
    list-style: none;
    gap: 15px;
}

.menu li a {
    text-decoration: none;
    padding: 10px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
}

.menu li a:hover {
    background-color: darkgray;
    color: white;
}