body {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}

.post {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 100px;
    border-radius: 8px;
    
}

.titulo-principal {
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 20px;
    
}

.titulo-secundario {
    font-size: 25px;
    color: rgb(13, 16, 219);
    margin-bottom: 20px;
}

.fotoronaldo {
    width: 700px;
    height:auto;
    border-radius: 5px;
    margin: 20px;
}

