body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

.galeria {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 10px;
}

.galeria img {
    border: 2px solid #000;
}